@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);
@font-face {
	font-weight: normal;
	font-style: normal;
	font-family: 'codropsicons';
	src:url('../fonts/codropsicons/codropsicons.eot');
	src:url('../fonts/codropsicons/codropsicons.eot?#iefix') format('embedded-opentype'),
		url('../fonts/codropsicons/codropsicons.woff') format('woff'),
		url('../fonts/codropsicons/codropsicons.ttf') format('truetype'),
		url('../fonts/codropsicons/codropsicons.svg#codropsicons') format('svg');
}

a {
	text-decoration: none;
	color: inherit;
	outline: none;
}

a:hover, a:focus {
	color: #000;
	outline: none;
}

/* Clearfix hack by Nicolas Gallagher: http://nicolasgallagher.com/micro-clearfix-hack/ */
.clearfix:before,
.clearfix:after {
	display: table;
	content: " ";
}

.clearfix:after {
	clear: both;
}
/* To Navigation Style */

.block {
	float: left;
}
.block p {
	font-size: 1.8em;
	line-height: 1.5;
	color: rgb(89,167,124);
}

ul.nav.navbar-nav {
	padding-right: 18px;
	padding-left: 18px ;
	padding-bottom: 7px ;
	border-right: solid #ddd 1px ;
}