@import url(http://fonts.googleapis.com/css?family=Architects+Daughter);

body {
	padding-bottom: 70px ;
	font-family: 'Architects Daughter', cursive;
}

a#logo {
	padding: 0 15px ;
}

.navbar-novus {
	background: rgba(108,223,234,0.3) ;
	box-shadow: 0px -3px 3px #ADD8C7 ;
	
}

section.slider {
	
}