

/*@font-face {
font-family: GraublauWeb;
src: url("../fonts/GraublauWeb.otf") format("opentype");
}*/

@import url(http://fonts.googleapis.com/css?family=Playball);

body {
	padding-bottom: 70px ;
	font-family: 'Belleza', sans-serif;
	font-size: 16px ;
}

a#logo {
	padding: 0 15px ;
}

.navbar-default {
	box-shadow: 0px -2px 10px #D9E3E6 ;
	font-family: 'Playball', cursive;
	font-size: 115% ;
	background: #65DDD0;
}

.navbar-default a {
	color: inherit;
	font-weight: 500 ;
	
	
}

section.slider {
	
}

.dropdown-menu {
	border-top-left-radius: 4px ;
	border-top-right-radius: 4px ;
	margin-bottom: 0 ;
	padding: 0 ;
}