@import url(http://fonts.googleapis.com/css?family=Architects+Daughter);
@import url(http://fonts.googleapis.com/css?family=Bangers);

* {
	
}

p {
	font-size: 130% ;
	text-align: justify;
}

img {
	border-radius: 5px ;
}

.row_first {
	padding-top: 60px ;
}

.row {
	padding: 30px 0 ;
	
}

.row_second {
	background: url('../img/3.jpg') fixed;
	font-weight: 700 ;
	background-size: 100% ;
	color: #fff ;
}

.row_last {
	padding-bottom: 90px ;
}

.row_footer {
	background: #333 ;
	color: #fff ;
	padding:20px ;
	/*height: 300px ;*/
}

.row_footer h3 {
	font-family: 'Bangers', cursive;
}

.row_footer ul {
	list-style-type: none ;
}

.row_footer li a {
	color: #fff ;
}

.brand img{
	padding-top: 50% ;
}

.header_container {
	height: 100px ;
}

nav.header_nav {
	/*border: solid red 1px ;*/
}

nav.header_nav ul li {
	display: inline;
	float: right;
	padding: 40px 0 ;
	line-height: 1 ;
	text-align: center;
}

.row_first h1 {
	font-size: 250% ;
}

.row_text {
	margin-top: 50px ;
}

nav.header_nav ul li a{
	width: 100% ;
	padding: 40px ;
	background: #FFFFFF ;
	color: inherit;
	font-size: 140% ;
	font-family: 'Architects Daughter', cursive;
	border-top: solid #9EE7CA 6px ;
	-webkit-transition: background 0.3s, color 0.3s , border 0.3s , text-decoration 0.3s;
	-moz-transition: background 0.3s, color 0.3s , border 0.3s;
	-o-transition: background 0.3s, color 0.3s , border 0.3s;
	transition: background 0.3s, color 0.3s , border 0.3s ;
}

nav.header_nav ul li a:hover{
	width: 100% ;
	text-decoration: underline;
	color: #FCFFCE ;
	background: #52DBAF ;
	border-top: solid #9EE7CA 6px ;
}

.slider-row {
	/*margin-top: 100px ;*/
}

.services_title {
	font-family: 'Bangers', cursive;
	font-size: 500% ;
}

.display_img {
	min-height: 500px ;
	background: url("../img/5.jpg") fixed ;
	background-size: 100% ;
	background-position: 0 0 ;
}

.display_img blockquote {
	font-weight: 700 ;
	font-size: 130% ;
	margin-bottom: 30px ;
	color: #fff ;
}