<!DOCTYPE html>
<html>
<head>
	{{ meta }}
	<title>
		{{ title }}
	</title>

	{% include 'styles.html.twig' %}
</head>
<body>
{% include 'header.html.twig' %}
	<h1>Template</h1>
	{% include 'scripts.html.twig' %}
</body>
</html>