<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
	<title>
		{{ title }}
	</title>
	

</head>
<body>
{% block header %}
{% endblock %}
{% block content %}
{% endblock %}
</body>
</html>