<!DOCTYPE html>
<html>
<head>
	<meta name="keywords" value="Novus, software, indore, web development, mobile app, ERP" >
	{{ meta }}
	<title>
		{{ title }}
	</title>

	{% include 'styles.html.twig' %}
</head>
<body>
{% include 'header.html.twig' %}
	<div class="row">
		
	</div>	
{% include 'scripts.html.twig' %}
</body>
</html>