<script type="text/javascript" src="{{site_url()}}js/bootstrap.min.js" ></script>
<div class="row row_footer">
    	<div class="col-md-1"></div>
    	<div class="col-md-2">
    		<h3>Company</h3>
    		<ul>
	    		<li><a href="Company/vision">Vision</a></li>
	          	<li><a href="Company/mission">Mission</a></li>
	          	<li><a href="Company/qual_policy">Quality Policy</a></li>
			  	<li><a href="Company/contact">Contact</a></li>
			  	
			 	<li><a href="Company/careers">Careers</a></li>
	    	</ul>
    	</div>
    	<div class="col-md-3">
    		<h3>Services</h3>
    		<ul>
	    		<li><a href="Services/m_app_dev.html">Mobile app Development</a></li>
		        <li><a href="Services/w_des_dev.html">Web Design & Development</a></li>
	          	<li><a href="Services/networking_services.html">Networking Services</a></li>
	          	<li><a href="Services/indus_IT_sol.html">Industry IT Solutions</a></li>
	          	
			  	<li><a href="Services/med_IT_sol.html">Medical IT Solutions</a></li>
			  	
			  	<li><a href="Services/edu_inform_sys.html">Education Information Systems</a></li>
	    	</ul>
    	</div>
    	<div class="col-md-3">
    		<h3>.</h3>
    		<ul>
	    		<li><a href="Services/online_marketing.html">Online Marketing</a></li>
			  	<li><a href="Services/crm.html">Customer Relationship Management</a></li>
			  	<li><a href="Services/data_ware.html">Data Warehousing</a></li>
			  	<li><a href="Services/google_app_setup.html">Google apps For Business Setup</a></li>
			  	<li><a href="Services/msoffice_setup.html">MS Office 365 Setup & Maintenance</a></li>
			  	<li><a href="Services/erp.html">Enterprise Resource Planning</a></li>
			  	
			  	<li><a href="Services/scm.html">Supply Chain management</a></li>
			  	
	    	</ul>
    	</div>
        <div class= "col-md-2">
        <a href= "media/media.html">Media</a>
        </div>
    	<div class="col-md-2">
    		<h3>Legal</h3>
    		<ul>
	    		<li><a href="legal/privacy.html">Privacy policy</a></li>
          		<li><a href="legal/terms.html">Terms of use</a></li>
          		<li><a href="#">2013-14 &copy; Novus</a></li>
	    	</ul>
    	</div>
    </div>